#allUsersTbl{
    overflow: hidden;
}
.alert-danger{
    opacity: 1;
}
.alert-success{
    opacity:1;
}
.modal-content {
    background-color: #d43f3a;
}
/*Admin/users/deleteUser*/
.deleteUser:hover{
    color: #f00000;
    cursor: hand;
}
.editUser:hover{
    color: #00aadc;
    cursor: hand;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}
